{% extends "base.jinja" %}
{% from "_macros.html" import render_field_with_errors, render_field_errors, render_field %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/login-register.css') }}">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}

{% block content %}
<main>
    <form action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST" name="reset_password_form">
        <div class="container">
            <h2>Zresetuj hasło</h2>
            <hr>
            {{ reset_password_form.hidden_tag() }}
            {{ render_field_errors(reset_password_form.csrf_token) }}
            {{ render_field_with_errors(reset_password_form.password) }}
            {{ render_field_with_errors(reset_password_form.password_confirm) }}
            <hr>
            {{ render_field(reset_password_form.submit, class='registerbtn custom-button') }}
        </div>

        <div class="container signin">
            <p>Masz już konto? <a href={{ url_for('security.login') }}>Zaloguj się</a>.</p>
        </div>
    </form>

    <script>
        $(document).ready(function() {
            $('#faculty').select2({
                ajax: {
                    url: '{{ url_for('bp_api.api_faculties') }}',
                    dataType: 'json'
                },
                width: '60%',
            });
            $('#dorm').select2({
                ajax: {
                    url: '{{ url_for('bp_api.api_dormitories') }}',
                    dataType: 'json'
                },
                width: '60%',
            });
        });
    </script>
</main>
{% endblock %}