:root {
    --dark-green: #064635;
    --light-green: #519259;
    --cream: #FFFCF9;
    --gray: #A6A6A6;
    --light-orange: #F0BB62;
}

main.profile-container {
    min-height: 43vh;
    display: flex;
    flex-direction: row wrap;
}

.side-navbar-custom {
    background-color: var(--cream);
    width: 300px;
    -webkit-box-shadow: 8px 8px 24px -25px rgba(66, 90, 67, 1);
    -moz-box-shadow: 8px 8px 24px -25px rgba(66, 90, 67, 1);
    box-shadow: 8px 8px 24px -25px rgba(66, 90, 67, 1);

    display: flex;
    flex-flow: column wrap;
}

.form-singleton {
    display: inline;
}