@import 'constants.css';

.material-symbols-outlined {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

nav.navbar {
    min-height: 64px;
    margin-top: 0;
    background-color: var(--main);
    color: var(--white);
    padding: 8px;
    position: sticky;
    left: 0px;
    top: 0px;
    z-index: 1000;
}

ul.nav-ul {
    list-style-type: none;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    padding-block: 0;
    padding-inline: 80px;
}

li.nav-li{
    justify-content: center;
    align-items: center;
}

li.nav-li,
li.nav-li a {
    overflow: visible;
    height: 100%;
    padding-block: 0;
    margin: 0;
}

li.nav-li:hover {
    color: var(--secondary);
}

li.logo {
    justify-self: flex-start;
    margin-right: auto;
    font-weight: 500;
}

li.button {
    border: 2px var(--white) solid;
    color: var(--white);
    padding-inline: 15px;
    padding-block: 5px;
    text-decoration: none;
    display: inline-block;

    margin: 4px 2px;
    border-radius: 22px;
}

li.button:hover {
    border-color: var(--secondary);
}

li.button a{
    font-size: var(--fs-p);
}

span.icon{
    font-size: var(--fs-h2) !important;
    padding-top: 8px;
    cursor: pointer;
}

body{
    background-color: var(--white);
}

main {
    width: 100%;
    background-color: var(--white);
}

footer {
    background-color: var(--main);
    margin-bottom: 0;
    color: var(--white) !important;
    padding-inline: 20%;
    padding-block: 40px;
    text-align: center;
    margin-inline: center;
}

footer h3 {
    color: white;
}

a {
    color: currentColor;
    text-decoration: none;
}

.dropdown {
    position: relative;
}

.dropdown-menu-custom {
    position: absolute;
    left: -25px;
    color: var(--white);
    background-color: var(--main);
    border-radius: 10px;
    min-width: 160px;
    min-height: 20px;
    padding-inline: 15px;
    padding-block: 10px;

    opacity: 0;
    transform: translateY(-100%) scaleY(0%);
    transition: opacity 150ms ease-in-out, transform 350ms ease-in-out;
    transition-delay: opacity 0.1s;

    display: flex;
    flex-flow: column wrap;
}

.dropdown-link:hover+.dropdown-menu-custom,
.dropdown-link+.dropdown-menu-custom:hover,
.dropdown-link:focus+.dropdown-menu-custom {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%) scaleY(100%);
}

.dropdown-item-custom:hover {
    color: var(--secondary);
}

.dropdown-item-custom {
    margin-block: 7px;
}

.main-navbar-item {
    margin-block: 7px !important;
}

.dropdown-item-hello {
    margin-bottom: 5px;
}

hr {
    margin-block: 5px;
}

input{
    font-size: var(--fs-p);
}

footer h2{
    color: var(--white);
}


@media screen and (max-width: 900px) {
    ul.nav-ul {
        gap: 32px;
        padding-inline: 64px;
    }
}

@media screen and (max-width: 750px) {
    ul.nav-ul {
        gap: 24px;
        padding-inline: 56px;
    }
}

@media screen and (max-width: 640px) {
    footer {
        padding-inline: 15%;
        padding-block: 24px;
    }
}

@media screen and (max-width: 560px) {

    li.logo {
        display: none;
    }

    ul.nav-ul {
        justify-content: space-between;
    }

    footer {
        padding-inline: 10%;
        padding-block: 24px;
    }
}

@media screen and (max-width: 480px) {
    ul.nav-ul {
        gap: 16px;
        padding-inline: 32px;
    }

    .dropdown-menu-custom {
        display: none;
    }
}

@media screen and (max-width: 400px) {

    ul.nav-ul {
        gap: 8px;
        padding-inline: 24px;
    }
}

.graphics-authors {
    display: none;
}