:root {
    --dark-green: #064635;
    --light-green: #519259;
    --cream: #FFFCF9;
    --gray: #A6A6A6;
    --light-orange: #F0BB62;
    --dark-orange: #d76514;
}

form {
    background-color: var(--cream);
    margin-inline: auto;
    margin-block: 40px;

    width: 60%;
    max-width: 500px;

    -webkit-box-shadow: 8px 8px 24px -25px rgba(66, 90, 67, 1);
    -moz-box-shadow: 8px 8px 24px -25px rgba(66, 90, 67, 1);
    box-shadow: 8px 8px 24px -25px rgba(66, 90, 67, 1);

    padding-inline: 30px;
    padding-block: 40px;
}

.signin,
.register {
    margin-top: 30px;
    color: var(--light-green);
    font-weight: 400;
}

.signin a,
.register a {
    color: var(--light-green);
    font-weight: 500;
}

.registerbtn,
.loginbtn {
    border: none;
    border-radius: 10px;
    padding-block: 7px;
    padding-inline: 15px;
    width: 100%;
    background-color: var(--light-green);
    color: white;
    font-size: 18px;
}

.label-wrapper {
    display: flex;
    flex-direction: row wrap;
    width: 100%;
    justify-content: space-between;
    margin-block: 10px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 60%;
    border-radius: 10px;
    border: 1px solid gray;
    -webkit-box-shadow: 8px 8px 24px -25px rgba(66, 90, 67, 1);
    -moz-box-shadow: 8px 8px 24px -25px rgba(66, 90, 67, 1);
    box-shadow: 8px 8px 24px -25px rgba(66, 90, 67, 1);

    padding-block: 4px;
    padding-inline: 10px;
    font-size: 15px;
}

select#dorm {
    width: 60%;
    border-radius: 10px;
    border: 1px solid gray;
    -webkit-box-shadow: 8px 8px 24px -25px rgba(66, 90, 67, 1);
    -moz-box-shadow: 8px 8px 24px -25px rgba(66, 90, 67, 1);
    box-shadow: 8px 8px 24px -25px rgba(66, 90, 67, 1);

    padding-block: 4px;
    padding-inline: 7px;
}

select#dorm+span {
    font-size: 15px;
}


.input-error {
    float: right;
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--dark-orange) !important;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    color: var(--dark-green);
    width: 25px;
    height: 25px;
    border: 1px solid var(--dark-green);
    border-radius: 0.15em;
    margin-right: 5px;
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 17px;
    height: 17px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--light-green);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

@media screen and (max-width: 750px) {
    select#dorm+span {
        font-size: 14px;
        max-width: 60% !important;
    }
}

@media screen and (max-width: 700px) {
    form {
        width: 70%;
        margin-block: 30px;
    }
}

@media screen and (max-width: 650px) {
    form {
        width: 80%;
        margin-block: 30px;
    }

    input {
        font-size: 14px;
    }

    select#dorm+span {
        max-width: 200px !important;
    }
}

@media screen and (max-width: 550px) {
    form {
        width: 88%;
        margin-block: 20px;
    }

    label {
        font-size: 15px;
    }

    h1 {
        font-size: 23px;
    }
}