@import "utilities.css";

form {
  width: 75%;
  max-width: 600px;
}

.label-wrapper b {
  min-width: 160px;
}

.label-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-block: 16px;
}

.label-wrapper input,
.label-wrapper textarea {
  padding: 8px;
  width: calc(100% - 160px);
}

hr {
  margin-block: 16px;
}

textarea#description {
  min-height: 160px;
}

.photo-container-edit {
  width: 80%;
  max-width: 500px;
}

.photo-container-edit img {
  width: 80%;
}

.offer-main-container{
  min-height: 55vh;
}

@media screen and (max-width: 640px) {
  .label-wrapper b {
    min-width: 150px;
  }

  .label-wrapper input,
  .label-wrapper textarea {
    width: calc(100% - 150px);
  }
}

@media screen and (max-width: 560px) {

  .label-wrapper input,
  .label-wrapper textarea {
    margin-top: 8px;
    width: 100%;
  }

  .label-wrapper input[type="checkbox"],
  .label-wrapper textarea {
    margin-top: 0px;
    width: unset;
  }

  form {
    width: 80%;
  }
}