@import 'constants.css';

main.offer-container {
    padding-block: 30px;
}

section {
    margin-block: 50px;
    width: 100%;
    max-width: 900px;
}

.search-bar-wrapper {
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    padding: 5px;
    width: 70%;
    min-width: 500px;
    max-width: 900px;

    border: 2px solid var(--dark-green);
    border-radius: 18px;
}

.search-bar {
    padding-block: 10px;
    padding-inline: 20px;
    width: 90%;
    margin-inline: auto;
    display: inline-block;
    border: none;
}

textarea:focus,
input:focus {
    outline: none;
}

section.main-containers-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    margin: auto;
    width: 70%;
}

.photos-container {
    width: 55%;
    height: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

.photos-container img {
    width: 70%;
}

.main-details-container {
    width: 42%;
    height: 300px;
    padding: 30px;
}

.main-details-container h1 {
    font-size: 26px;
}

.main-details-container p {
    font-size: 13px;
    color: var(--gray);
}

.main-details-container p.price {
    font-size: 22px;
    color: black;
    font-weight: 500;
    margin-top: 40px;
}

.main-details-container button {
    margin-inline: 10%;
    margin-top: 10px;
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 20px;
    background-color: var(--light-orange);
    font-weight: 400;
}

.offer-name-wrapper {
    width: 100%;
    height: 50px;
    overflow: hidden;
    margin-top: 10px;
}

.offer-name-wrapper h1 {
    font-size: 25px;
}

.box {
    border: 1px solid var(--gray);
    border-radius: 13px;
    background-color: var(--cream);
    -webkit-box-shadow: 8px 8px 24px -25px rgba(66, 90, 67, 1);
    -moz-box-shadow: 8px 8px 24px -25px rgba(66, 90, 67, 1);
    box-shadow: 8px 8px 24px -25px rgba(66, 90, 67, 1);
}

.description-container {
    width: 100%;
    margin-top: 20px;
    padding-block: 40px;
    padding-inline: 60px;
}

.description-container h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.salesman-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.salesman-details p {
    font-size: 16px;
    font-weight: 450;
}

.salesman-container button {
    padding: 7px;
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: var(--dark-green);
    font-weight: 400;
    color: white;
    margin-top: 10px;
}

button.search-icon {
    border: none;
    background-color: white;
    padding: 0;
    padding-right: 10px;
}

button.search-icon img {
    width: 35px;
    height: 35px;
    transition: transform 0.2s;
}

button.search-icon img:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 1100px) {
    .search-bar-wrapper {
        width: 80%;
    }

    section.main-containers-wrapper {
        width: 80%;
    }
}

@media screen and (max-width: 930px) {

    .main-details-container {
        padding: 20px;
    }

    .main-details-container h1 {
        font-size: 22px;
    }

    .main-details-container button {
        margin-inline: 0;
        margin-top: 10px;
        padding: 10px;
        width: 100%;
        font-size: 15px;
    }

    .salesman-container button {
        margin-inline: 0;
        padding: 10px;
        width: 100%;
        font-size: 15px;
    }

    .photos-container {
        height: 280px;
    }

    .main-details-container {
        height: 280px;
    }

    .salesman-container button {
        max-width: 300px;
    }
}

@media screen and (max-width: 750px) {

    section {
        margin-block: 40px;
        padding-top: 17px;
    }

    .search-bar-wrapper {
        padding: 4px;
        min-width: 300px;
    }

    .search-bar {
        font-size: 15px;
        padding-block: 7px;
        width: 70%;
    }

    .main-details-container h1 {
        font-size: 19px;
    }

    .main-details-container button {
        font-size: 13px;
    }

    .photos-container {
        height: 260px;
    }

    .main-details-container {
        height: 260px;
    }

    .main-details-container p {
        font-size: 11px;
    }

    .main-details-container p.price {
        font-size: 19px;
        margin-top: 20px;
        color: black;
    }

    main.offer-container {
        padding-block: 10px;
    }

    button.search-icon {
        margin-right: 5px;
    }

    button.search-icon img {
        width: 30px;
        height: 30px;
    }

    .salesman-container {
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
    }

    .offer-name-wrapper h1 {
        font-size: 23px
    }
}

@media screen and (max-width: 600px) {
    section {
        margin-block: 30px;
        padding-top: 10px;
    }

    section.main-containers-wrapper {
        flex-flow: column wrap;
        justify-content: flex-start;
        width: 80%;
    }

    .search-bar-wrapper {
        min-width: 200px;
        width: 80%;
        margin-block: 20px;
        border-width: 2px;
    }

    .search-bar {
        font-size: 13px;
        padding-block: 5px;
        width: 70%;
    }

    .main-details-container {
        height: 180px;
    }

    .main-details-container button {
        margin-top: 0px;
    }

    .main-details-container h1 {
        font-size: 14px;
    }

    .offer-name-wrapper {
        height: 25px;
    }

    .main-details-container p.price {
        font-size: 16px;
        margin-top: 5px;
        color: black;
    }

    .box {
        width: 100%;
        padding-inline: 30px;
    }

    .photos-container {
        min-width: 100%;
        width: 100%;
        height: 210px;
        margin-bottom: 20px;
    }

    .description-container p {
        font-size: 13px;
    }

    .description-container h2 {
        font-size: 15px;
    }

    .salesman-container button {
        margin: 0;
        padding: 5px;
        font-size: 13px;
    }

    button.search-icon img {
        width: 25px;
        height: 25px;
    }

    .offer-name-wrapper h1 {
        font-size: 19px
    }
}

@media screen and (max-width: 400px) {

    section {
        margin-block: 10px;
    }
}