@import 'colors.css';

main.offer-main-container {
    padding-inline: 10%;
    padding-block: 40px;
}

main.offer-main-container h1 {
    font-size: 25px;
}

main.offer-main-container hr {
    margin-block: 10px;
}

.label-wrapper b {
    min-width: 200px;
}

.label-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-block: 12px;
}

.label-wrapper input,
.label-wrapper textarea {
    padding: 7px;
    font-size: 13px;
}

@media screen and (max-width: 700px) {
    main.offer-main-container h1 {
        font-size: 20px;
    }

    .label-wrapper b {
        min-width: 150px;
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
    .label-wrapper b {
        min-width: 100px;
    }
}