@import 'utilities.css';

main.profile-container {
    display: flex;
    flex-flow: row wrap;
}

.side-navbar-custom {
    background-color: white;
    max-width: 280px;
    width: 40%;

    display: flex;
    flex-flow: column wrap;
    padding-left: 40px;
    padding-right: 24px;

    position: sticky;
    top: 64px;
    left: 0px;
    min-height: 480px;
    max-height: 94vh;
}

section.main-content {
    width: 60%;
    min-height: calc(100vh - 64px - 210px);
}

.side-navbar-custom a {
    font-weight: 480;
}

.side-navbar-custom a:hover {
    font-weight: 500;
    color: var(--secondary);
}

section.main-content {
    padding-inline: 64px;
}

.presonal-data-container {
    display: flex;
    flex-flow: column wrap;
    margin-top: 24px;
    padding-inline: 16px;
    padding-top: 16px;
}

.personal-data-record-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

}

.personal-data-record-wrapper p {
    margin-top: 8px;
}


section {
    padding-block: 64px;
}

section.settings-field{
    padding-block: 32px;
}

.personal-data-field-name{
    font-weight: 500;
    min-width: 100px;
}

.alert-wrapper{
    position: fixed;
    left: 320px;
    width: 60%;
}

hr{
    z-index: -1;
}


@media screen and (max-width: 900px) {
    section.main-content {
        padding-inline: 32px;
    }

    .side-navbar-custom {
        width: 33%;
    }

    section.main-content {
        width: 67%;
    }

    .personal-data-field-name {
        min-width: 80px;
    }

    .personal-data-record-wrapper p {
        margin-top: 8px;
    }

    .alert-wrapper{
        position: fixed;
        left: 40%;
        width: 55%;
    }
}

@media screen and (max-width: 640px) {
    .side-navbar-custom {
        min-width: 100%;
        flex-flow: row wrap;
        padding-inline: 64px;
        padding-block: 10px;
        justify-content: space-between;

        min-height: 100px;
        max-height: 150px;
    }

    section.main-content {
        width: 100%;
        padding-block: 32px;
        padding-inline: 40px;
    }

    .dropdown-item-custom {
        width: 128px;
    }

    .dropdown-item-hello {
        display: none;
    }

    .dropdown-item-hello+hr {
        display: none;
    }

    main.profile-container {
        flex-flow: column nowrap;
    }

    .presonal-data-container {
        margin-top: 0px;
    }

    .alert-wrapper{
        position: fixed;
        left: 5%;
        width: 90%;
    }
}

@media screen and (max-width: 560px) {
    .side-navbar-custom {
        padding-inline: 40px;

        min-height: 90px;
        max-height: 100px;
    }

    .dropdown-item-custom {
        min-width: 112px;
    }

    section.main-content {
        padding-inline: 32px;
    }

    section.settings-field{
        padding-block: 24px;
    }
}

@media screen and (max-width: 400px) {
    .side-navbar-custom {
        padding-inline: 16px;
        justify-content: space-around;
    }
}