.offers-wrapper {
    display: flex;
    flex-flow: column wrap;
}

.single-offer-wrapper {
    border: 1px solid black;
    border-radius: 10px;
    -webkit-box-shadow: 8px 8px 20px -15px rgba(66, 90, 67, 1);
    -moz-box-shadow: 8px 8px 20px -15px rgba(66, 90, 67, 1);
    box-shadow: 8px 8px 20px -15px rgba(66, 90, 67, 1);

    padding: 10px;
    min-width: 630px;
    margin-block: 20px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.offer-title {
    width: 50%;
    overflow: hiddden;
    padding-inline: 10px;
}

.single-offer-wrapper a {
    padding-inline: 7px;
}

.single-offer-wrapper a:hover {
    font-weight: 500;
}

.form-singleton {
    display: inline;
}

.form-singleton input {
    padding: 10px;
    width: min(80%, 200px);
    border: none;
    border-radius: 20px;
    background-color: var(--light-orange);
    font-weight: 400;
}

@media screen and (max-width: 1200px) {
    .single-offer-wrapper {
        min-width: 60%;
        width: 85%;
    }
}

@media screen and (max-width: 670px) {
    .single-offer-wrapper {
        min-width: 100%;
        width: 100%;
    }

    .offer-title {
        width: 100%;
    }
}