.offers-wrapper {
    display: flex;
    flex-flow: column wrap;
}

.single-offer-wrapper {
    border: 1px solid black;
    border-radius: 10px;
    -webkit-box-shadow: 8px 8px 20px -15px rgba(66, 90, 67, 1);
    -moz-box-shadow: 8px 8px 20px -15px rgba(66, 90, 67, 1);
    box-shadow: 8px 8px 20px -15px rgba(66, 90, 67, 1);

    padding: 10px;
    min-width: 630px;
    margin-block: 20px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.offer-title {
    width: 330px;
    overflow: hiddden;
    padding-inline: 10px;
}

.single-offer-wrapper a {
    padding-inline: 7px;
}

.single-offer-wrapper a:hover {
    font-weight: 500;
}