@import 'constants.css';

.shadow-on-hover:hover{
    -webkit-box-shadow: 8px 8px 32px -16px var(--main);
    -moz-box-shadow: 8px 8px 32px -16px var(--main);
    box-shadow: 8px 8px 32px -16px var(--main);
    border: 2px solid var(--secondary);
}

.shadow{
    box-shadow: var(--main);
    -webkit-box-shadow: 8px 8px 24px -21px var(--main);
    -moz-box-shadow: 8px 8px 24px -21px var(--main);
    box-shadow: 8px 8px 24px -21px var(--main);
}

.custom-button{
    border: none;
    border-radius: 24px;
    padding-block: 8px;
    padding-inline: 40px;
    background-color: var(--main);
    color: white;
    text-align: center;
    align-content: center;
}

.custom-button:hover{
    transform: translateY(1px);
    -webkit-box-shadow: 8px 8px 32px -16px var(--main);
    -moz-box-shadow: 8px 8px 32px -16px var(--main);
    box-shadow: 8px 8px 32px -16px var(--main);
}

.custom-form{
    background-color: white;
    margin-inline: auto;
    margin-block: 40px;

    padding-inline: 32px;
    padding-block: 40px;
    border-radius: 24px;
}