{% extends "base.jinja" %}
{% from "_macros.html" import render_field_with_errors, render_field_errors, render_field %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/offer-add-edit.css') }}">
{% endblock %}

{% block content %}
<main class="offer-main-container">
    <form enctype="multipart/form-data"
        action="{{ url_for('bp_offer.edit', offer_id=offer_id) if offer_id else url_for('bp_offer.add') }}"
        method="POST" name="add_edit_offer_form" class="custom-form">
        <h1>{{ 'Edytuj' if offer_id else 'Dodaj' }} ogłoszenie</h1>
        <hr>
        {{ form.hidden_tag() }}
        {{ render_field_errors(form.csrf_token) }}
        {{ render_field_with_errors(form.title) }}
        {{ render_field_with_errors(form.description, class="form-description") }}
        {{ render_field_with_errors(form.price) }}
        {{ render_field_with_errors(form.category) }}
        {{ render_field_with_errors(form.is_used) }}
        {{ render_field_with_errors(form.images) }}
        {% for offer_image_delete_form in form.existing_images %}
            {{ offer_image_delete_form.hidden_tag() }}
            {{ render_field_errors(offer_image_delete_form.csrf_token) }}
            {# Flask-WTF needs `hidden_tag()` so CSRF works for each form #}
            {{ render_field_with_errors(offer_image_delete_form.should_delete) }}
            <div class="photo-container-edit">
                <img src="{{ url_for('static', filename=offer_image_delete_form.image_href_path.data) }}">
            </div>
        {% endfor %}
        <hr>
        {{ render_field(form.submit, class='custom-button') }}
    </form>
</main>
{% endblock %}