{% extends "base.jinja" %}
{% from "_macros.html" import search_bar %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/offer.css')
    }}">
<link rel="stylesheet" href="{{ url_for('static',
    filename='styles/search_bar.css')
    }}">
{% endblock %}

{% block content %}

{{ search_bar() }}

<section class="main-containers-wrapper">
    <div class="photos-container box shadow">
        <img src="{{ url_for('static', filename=images[0]) }}">
    </div>
    <div class="main-details-container box shadow">
        <div class="offer-name-wrapper">
            <h2 id="title">{{ offer.title }}</h2>
        </div>
        <p>data wystawienia: {{ offer.created_at.date() }}</p>
        <h3 id="price">{{ "%.2f zł"|format(offer.price) if offer.price else
            "Za darmo" }}</h3>
        <button class="custom-button">napisz do sprzedającego</button>
    </div>

    <div class="box shadow description-container">
        <h3>Opis</h3>
        <p>{{ offer.description or "Brak opisu" }}</p>
    </div>

    <div class="box shadow description-container salesman-container">
        <div class="salesman-details">
            <h3>Sprzedający</h3>
            <p>{{ author.first_name }} {{ author.last_name }}, {{ author.faculty
                }}</p>
        </div>
        <button class="custom-button">napisz do sprzedającego</button>
    </div>
</section>
{% endblock %}