{% extends "user/user_profile.jinja" %}
{% from "_macros.html" import render_field_with_errors, render_field_errors, render_field %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user-profile.css') }}">

{% endblock %}

{% block main_content %}
    <main class>
        <h1>Ustawienia</h1>
        <section class="settings-field">
            <h3>Zmień hasło</h3>
            <form action="{{ url_for('security.change_password') }}" method="POST" name="change_password_form">
                {{ change_password_form.hidden_tag() }}
                <p class="mb-3">
                    {{ change_password_form.password.label }}:
                    {{ change_password_form.password(class='form-control') }}
                </p>
                <p class="mb-3">
                    {{ change_password_form.new_password.label }}:
                    {{ change_password_form.new_password(class='form-control') }}
                </p>
                <p class="mb-3">
                    {{ change_password_form.new_password_confirm.label }}:
                    {{ change_password_form.new_password_confirm(class='form-control') }}
                </p>
                <div>
                    {{ change_password_form.submit(class='custom-button') }}
                </div>
            </form>
        </section>
        <hr>
        <section class="settings-field">
            <h3>Zmień email</h4>
            <p>Obecny email: {{ current_user.email }}</p>
            <form action="{{ url_for('bp_settings.change_email') }}" method="POST" name="change_email_form">
                {{ change_email_form.hidden_tag() }}
                <p class="mb-3">
                    {{ change_email_form.email.label }}:
                    {{ change_email_form.email(class='form-control') }}
                </p>
                <div>
                    <button type="submit" class="custom-button">Wyślij link aktywacyjny</button>
                </div>
            </form>
        </section>
        <hr>
        <section class="settings-field">
            <h3>Usuń konto</h4>
            <form action="{{ url_for('bp_settings.delete_account') }}" method="POST" name="delete_account_confirm_form">
                {{ delete_account_confirm_form.hidden_tag() }}
                <p class="mb-3">
                    {{ delete_account_confirm_form.email.label }}:
                    {{ delete_account_confirm_form.email(class='form-control') }}
                </p>
                <div>
                    <button type="submit" class="custom-button">Usuń konto</button>
                </div>
            </form>
        </section>
    </main>
{% endblock %}