{% extends "user/user_profile.jinja" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static',
    filename='styles/user-profile.css') }}">
<link rel="stylesheet" href="{{ url_for('static',
    filename='styles/user-offers.css') }}">
{% endblock %}

{% block main_content %}
<main class>
    <!-- <a class="custom-button" href="{{url_for('bp_offer.add')}}">
        Dodaj ogłoszenie
    </a> -->
    <h1>Moje ogłoszenia</h1>
    <div class="user-offers-wrapper">
        {% for offer in offers %}
        <div class="single-offer-wrapper shadow">
            <div class="offer-title">
                <p>
                    {{ offer.title }}
                </p>
            </div>
            <a href="{{ url_for('bp_main.offer_get', offer_id=offer.id) }}"><span
                    class="material-symbols-outlined icon">
                    expand_circle_down
                </span></a>
            <a href="{{ url_for('bp_offer.edit', offer_id=offer.id) }}"><span
                    class="material-symbols-outlined icon">
                    edit
                </span></a>
            <a href="{{ url_for('bp_offer.delete', offer_id=offer.id) }}"><span
                    class="material-symbols-outlined icon">
                    delete
                </span></a>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}