{% extends "base.jinja" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='offer.css') }}">
{% endblock %}

{% block content %}
<main class>
    <section>
        <ul>
            <li><a href="/user/offers">Twoje ogłoszenia</a></li>
            <li><a href="/user/settings">Ustawienia konta</a></li>
            <li><a href="/user/logout">Wyloguj</a></li>
        </ul>
    </section>

</main>
{% endblock %}