{% extends "user/user_profile.jinja" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/user-profile.css') }}">
{% endblock %}

{% block main_content %}
<main class>
    <section>
        <a href="{{url_for('bp_main.offer_add')}}">Dodaj ogłoszenie</a>
    </section>
    <section>
        {% for offer in offers %}
        <div>
            <span>{{ offer.title }}</span>
            <a href="{{url_for('bp_main.offer_get', offer_id=offer.id)}}">Strona ogłoszenia</a>
            <a href="{{url_for('bp_main.offer_edit', offer_id=offer.id)}}">Edytuj</a>
            <a href="{{url_for('bp_main.offer_delete', offer_id=offer.id)}}">Usuń</a>
        </div>
        {% endfor %}
    </section>
</main>
{% endblock %}