{% macro render_field_with_errors(field, class='') %}
    <div class="label-wrapper">
        {% if field.type != 'RecaptchaField' %}
            <b>{{ field.label }}</b>
        {% endif %}
        {{ field(**{'aria-describedby': 'input-' ~ field.name ~ '-error'})|safe }}
    </div>
    {% if field.description %}
        <div id="input-{{ field.name }}-info" class="form-text text-shadow input-error">{{ field.description }}</div>
    {% endif %}
    {% if field.errors %}
        {% if field.type == 'RecaptchaField' %}
            <div id="input-{{ field.name }}-error" class="form-text text-danger input-error">Wymagane poprawne uzupełnienie.
            </div>
        {% else %}
            {% for error in field.errors %}
                <div id="input-{{ field.name }}-error" class="form-text text-danger input-error">{{ error }}</div>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro render_field(field) %}
    <p>{{ field(**kwargs)|safe }}</p>
{% endmacro %}

{% macro render_field_errors(field) %}
    <p>
        {% if field and field.errors %}
            <ul>
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </p>
{% endmacro %}