<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">

    <title>{% block title %}Bazar AGH{% endblock %}</title>

    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>

    {% block style %}{% endblock %}
    {% block script %}{% endblock %}
</head>

<body>
    <nav class="navbar">
        <ul class="nav-ul">
            <li class="nav-li logo">
                <a href="{{ url_for('bp_main.main_get') }}">Bazar AGH</a>
            </li>
            <li class="nav-li hover-check" href="#">
                <img src="{{ url_for('static', filename='nav-bar/messenger.png') }}" class="mess-icon icon-default">
                <img src="{{ url_for('static', filename='nav-bar/messenger_hover.png') }}" class="mess-icon on-hover">
            </li>
            <li class="nav-li hover-check" href="#">
                <img src="{{ url_for('static', filename='nav-bar/like.png') }}" class="user-icon icon-default">
                <img src="{{ url_for('static', filename='nav-bar/like_hover.png') }}" class="user-icon on-hover">
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-li hover-check dropdown">
                <a href={{url_for('bp_user.profile_get')}} class="dropdown-link">
                    <img src="{{ url_for('static', filename='nav-bar/user_auth.png') }}" class="user-icon icon-default">
                    <img src="{{ url_for('static', filename='nav-bar/user_hover_auth.png') }}"
                        class="user-icon on-hover">
                </a>
                <div class="dropdown-menu-custom">
                    <div class="dropdown-item-hello">{{current_user.first_name}}, dobrze Cię znowu widzieć!</div>
                    <hr>
                    <a class="dropdown-item-custom main-navbar-item" href="{{url_for('bp_user.profile_get')}}">Moje
                        dane</a>
                    <a class="dropdown-item-custom main-navbar-item"
                        href="{{url_for('bp_user.settings_get')}}">Ustawienia</a>
                    <a class="dropdown-item-custom main-navbar-item" href="{{url_for('bp_user.offers_get')}}">Moje
                        ogłoszenia</a>
                    <a class="dropdown-item-custom main-navbar-item" href="#">Wiadomości</a>
                    <a class="dropdown-item-custom main-navbar-item" href="#">Polubione oferty</a>
                    <a class="dropdown-item-custom main-navbar-item" href="{{ url_for('security.logout') }}">Wyloguj</a>
                </div>
            </li>
            {% else %}
            <li class="nav-li hover-check">
                <a href="{{ url_for('security.login') }}"">
                    <img src=" {{ url_for('static', filename='nav-bar/user.png' ) }}" class="user-icon icon-default">
                    <img src="{{ url_for('static', filename='nav-bar/user_hover.png') }}" class="user-icon on-hover">
                </a>
            </li>
            {% endif %}
            <li class="nav-li button">
                {% if current_user.is_authenticated %}
                <a href="{{url_for('bp_offer.add')}}">Dodaj ogloszenie</a>
                {% else %}
                <a href="{{url_for('security.login')}}">Dodaj ogloszenie</a>
                {% endif %}
            </li>
        </ul>

    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <h2> Bazar AGH</h2>
        <p>BazarAGH.pl to darmowe ogłoszenia lokalne w kategoriach: Moda, Elektronika, Sport i Hobby, Muzyka i Edukacja.
            Szybko znajdziesz tu ciekawe ogłoszenia i łatwo skontaktujesz się z ogłoszeniodawcą. Jeśli chcesz coś
            sprzedać - w prosty sposób dodasz bezpłatne ogłoszenia.
            Chcesz coś kupić - tutaj znajdziesz ciekawe okazje, taniej niż w sklepie. Sprzedawaj
            po sąsiedzku na BazarAGH.pl
        </p>
        <div class="graphics-authors"> Icons made by <a href="https://www.freepik.com" title="Freepik"> Freepik
            </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a></div>
    </footer>
</body>

</html>