{% extends "base.jinja" %}
{% from "_macros.html" import search_bar %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css')
    }}">
<link rel="stylesheet" href="{{ url_for('static',
    filename='styles/search_bar.css')
    }}">
<link rel="stylesheet" href="{{ url_for('static',
    filename='styles/pagination.css')
}}">
{% endblock %}

{% block script %}
<script>
    function onError(imgElement){
        imgElement.onerror=null;
        imgElement.src="{{ url_for('static', filename='default_img.png') }}";
        imgElement.style.cssText += 'object-position: 100% -20px;';
    }
</script>
{% endblock %}

{% block content %}

{{ search_bar() }}

<section class="publications-wrapper">
    <h2>{{ category_name }}</h2>
    <div class="publications-container">
        {% for offer in pagination.items %}
        <a href="{{ url_for('bp_main.offer_get', offer_id=offer.id) }}" 
            class="publication shadow-on-hover shadow">
            <div class="img-container">
                <img alt="{{ offer.title }}" src="{{ url_for('static', filename=offer.images[0]) }}" onerror='onError(this)'>
            </div>
            <div class="publication-details">
                <div class="name-container">
                    <p class="publication-name">{{ offer.title }}</p>
                </div>
                <p class="publication-date">{{ offer.created_at.date() }}</p>
                <p class="publication-price">{{ "%.2f zł"|format(offer.price) if
                    offer.price else "Za darmo" }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</section>
<section class="pagination-wrapper">
    <div class="pagination-pages">
        {% if pagination.has_prev %}
            <span class="material-symbols-outlined navigation">
                navigate_before
            </span>
        {% endif %}
        {% for page in pagination.iter_pages() %}
            {% if page %}
                {% if page != pagination.page %}
                    <a href="{{ url_for('bp_main.category_offers', category_name=category_name, page=page) }}"><p>{{ page }}</p>
                        </a>
                {% else %}
                    <p class="pagination-current-page"><strong>{{ page }}</strong></p>
                {% endif %}
            {% else %}
                <p class=ellipsis>…</p>
            {% endif %}
        {% endfor %}
        {% if pagination.has_next %}
            <span class="material-symbols-outlined navigation">
                navigate_next
            </span>
        {% endif %}
    </div>

    <p>
        produkty {{ pagination.first }} - {{ pagination.last }} z {{ pagination.total }}
    </p>
</section>
{% endblock %}