{% extends "base.jinja" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css')
    }}">
{% endblock %}

{% block content %}
<section class="search-bar-wrapper">
    <input type="text" class="search-bar" placeholder="Czego szukasz?">
    <button class="search-icon">
        <span class="material-symbols-outlined">
            search
        </span>
    </button>
</section>
<section class="publications-wrapper">
    <h2>{{ category_name }}</h2>
    <div class="publications-container">
        {% for offer in pagination.items %}
        <a href="{{ url_for('bp_main.offer_get', offer_id=offer.id) }}" 
            class="publication shadow-on-hover shadow">
            <div class="img-container">
                <img alt="{{ offer.title }}" src="{{ url_for('static', filename=offer.images[0]) }}">
            </div>
            <div class="publication-details">
                <div class="name-container">
                    <p class="publication-name">{{ offer.title }}</p>
                </div>
                <p class="publication-date">{{ offer.created_at.date() }}</p>
                <p class="publication-price">{{ "%.2f zł"|format(offer.price) if
                    offer.price else "Za darmo" }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</section>
<section>
    <div class=page-items>
        {{ pagination.first }} - {{ pagination.last }} of {{ pagination.total }}
    </div>
    <div class=pagination>
        {% for page in pagination.iter_pages() %}
            {% if page %}
                {% if page != pagination.page %}
                    <a href="{{ url_for('bp_main.category_offers', category_name=category_name, page=page) }}">{{ page }}</a>
                {% else %}
                    <strong>{{ page }}</strong>
                {% endif %}
            {% else %}
                <span class=ellipsis>…</span>
            {% endif %}
        {% endfor %}
    </div>
</section>
{% endblock %}