{% extends "base.jinja" %}
{% from "_macros.html" import search_bar %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css')
    }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/search_bar.css')
    }}">
{% endblock %}

{% block script %}
<script>
    function onError(imgElement){
        imgElement.onerror=null;
        imgElement.src="{{ url_for('static', filename='default_img.png') }}";
        imgElement.style.cssText += 'object-position: 100% -20px;';
    }
</script>
{% endblock %}

{% block content %}

{{ search_bar() }}

<section class="categories-wrapper">
    <h2>Popularne kategorie</h2>
    <div class="categories-buttons-wrapper">
        {% for category in categories %}
        <div class="category-button-wrapper">
            <a href="{{ url_for('bp_main.category_offers',
                category_name=category.name) }}">
                <button class="shadow-on-hover">
                    <img alt="{{ category.name }}" src="{{ url_for('static',
                        filename=category.icon ) }}" >
                </button>
                <p>{{ category.name }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</section>
<section class="publications-wrapper">
    <h2>Najnowsze ogłoszenia</h2>
    <div class="publications-container">
        {% for offer in offers %}
        <a href="{{ url_for('bp_main.offer_get', offer_id=offer.id) }}"
            class="publication shadow-on-hover shadow">
            <div class="img-container">
                <img alt="{{ offer.title }}" src="{{ url_for('static',
                    filename=images[offer.id][0]) }}" onerror='onError(this)'>
            </div>
            <div class="publication-details">
                <div class="name-container">
                    <p class="publication-name">{{ offer.title }}</p>
                </div>
                <p class="publication-date">{{ offer.created_at.date() }}</p>
                <p class="publication-price">{{ "%.2f zł"|format(offer.price) if
                    offer.price else "Za darmo" }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</section>
{% endblock %}