{% extends "base.html.jinja" %}

{% block content %}
    <h1>{{ message }}</h1>
    <h2>Loop example</h2>
    <ul>
        {% for letter in message %}
            <li>{{ letter }}</li>
        {% endfor %}
    </ul>
{% endblock %}