{% extends "base.jinja" %}

{% block content %}
    <h1>{{ message }}</h1>
    <h2>Loop example</h2>
    <ul>
        {% for offer in offers %}
            <li>
                <a href="/offer/{{offer.id}}">{{ offer.name }}<a/>
            </li>
        {% endfor %}
    </ul>
{% endblock %}